*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bienvenidos {
  width: 100%;
  margin-bottom: 50px;

  & .portada {
    width: 100%;
    height: 600px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../css/img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 50px;


    /* boton "Reservar turno" */
    .btn {
      border: 1px solid white;
      border-radius: 12px;
      width: 150px;

      &:hover {
        background-color: white;
      }

      a {
        color: white;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;

        &:hover {
          color: #2c5530;
        }
      }
    }
  }






  & h1 {
    font-size: 50px;
  }

  & ul {
    display: flex;
    margin: 30px 0px;
    list-style: none;

    & li {
      margin: 0px 10px;
      background-color: #e9ecef;
      padding: 15px;
      border-radius: 10px;
    }
  }
}

.nosotros {
  display: flex;
  padding: 50px;
  gap: 100px;
  width: 80%;
  align-items: center;

  img {
    width: 30%;
    border-radius: 12px;
  }

  h4 {
    margin-bottom: 20px;
  }
}

.informacion {
  display: flex;
  width: 80%;
  padding: 50px;
  justify-content: space-between;

  .texto {
    width: 35%;
  }
  .img {
    width: 60%;
  }

  img {
    width: 50%;
    border-radius: 12px;
  }


  /* & h2 {
    margin-bottom: 20px;
  } */
}


/* pagina de Login */
.login_container {
  background: linear-gradient(135deg, #88d8a3 0%, #a8e6cf 100%);
  height: 100vh;
  display: flex;
  align-items: center;
}