*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.quienes_somos {
  display: flex;
  padding: 50px;
  gap: 100px;
  width: 80%;
  align-items: center;

  img {
    width: 30%;
    border-radius: 12px;
  }

  h3 {
    margin-bottom: 20px;
  }
}


/* Seccion Mision-Valores-Vision */
#mivavi {
  padding: 50px;

  & h1 {
    text-align: center;
  }

  article {
    margin-bottom: 20px;
  }
}


/* Seccion Autoridades */
.autoridades {
  width: 90%;
}
#autoridades {
  padding: 50px;
  text-align: center;
}


/* Seccion Testimonio */
.testimonio {
  padding: 50px;
  width: 80%;

  p {
    color: gray;
  }

  h4 {
    margin-bottom: 20px;
  }
}


/* Seccion Historia */
#historia {
    padding: 50px;
}

/* Seccion Certificaciones */
#certificaciones {
    padding: 50px;

  text-align: center;
  margin: 50px 0px 70px 0px;

  & .certificaciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

    & img {
      height: 70px;
    }
  }
}

/* Seccion Equipo Medico */
.eq_medico {
  text-align: center;
  margin: 50px 0px;
}

#eq_medico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  .btn_turno {
    background-color: #88d8a3;
    color: white;
  }
}